POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=MyStrongPassword
GITLAB_HOST=localhost
GITLAB_PORT=1111
GITLAB_SSH_PORT=2222
GITLAB_TIMEZONE=America/Los_Angeles
GITLAB_SECRETS_DB_KEY_BASE=long-and-random-string
GITLAB_SECRETS_SECRET_KEY_BASE=long-and-random-string
GITLAB_SECRETS_OTP_KEY_BASE=long-and-random-string

OAUTH_SAML_ASSERTION_CONSUMER_SERVICE_URL=http://host:port/users/auth/saml/callback
OAUTH_SAML_IDP_CERT_FINGERPRINT=77:36
OAUTH_SAML_IDP_SSO_TARGET_URL=http://host:port/sso/SingleSignOnService/gitlab
OAUTH_SAML_ISSUER=issuer
OAUTH_SAML_NAME_IDENTIFIER_FORMAT=urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress
